@page
@model IndexModel
@{
    ViewData["Title"] = "Tienda de Libros";
}

<div class="text-center">
    <h1 class="display-4">Tienda de Libros</h1>
    <p><a href="https://localhost:7009/Movies">clic aqui para ingresar los libros</a>.</p>

    <img src="https://neomusica.es/blog/wp-content/uploads/2021/09/libros-de-mu%CC%81sica-imprescindibles.jpg" width="450 " left="700" rigth="0">
    <img src="https://cdmx.ciesas.edu.mx/wp-content/uploads/2018/11/Libros.jpg"

</div>



